@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Yellowtail&display=swap');


:root {
    --book-background-color: #313530;
    --book-text-color: #dde7db;
    --library-color: #36020f;
    --dark-green: #325453;
    --light-green: #517174;
    --coral: #ef5d58;
    --sand: #dcbe87;
    --light-brown: #ad6a34;
    --dark-brown: #4e1d04;
}

body {
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
    background-color: #dbe0eb;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 250%;
    color: var(--library-color);
    margin-bottom: 10px;
}

#border {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

button {
    border-color: black;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    font-size: large;
}

input {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset {
    border: 2px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

#addBookButton {
    width: fit-content;
    align-self: center;
}

.popup {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--library-color);
    color: var(--book-text-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    box-shadow: -3px -3px teal;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup.show {
    pointer-events: auto;
    opacity: 1;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cancel-button:hover {
    cursor: pointer;
    color: #838383;
}

.library-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.book {
    background-color: var(--book-background-color);
    box-shadow: -3px -3px teal;
    width: 200px;
    border-color: #000000;
    color: var(--book-text-color);
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.book-content {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;    
    display: flex;
    justify-content: center;
    align-items: center;
}